*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100vw;
    height: 100px;
    /* مشان الارتفاع يمين ويسار */
    padding: 0 126px;
    display: flex;
    justify-content:space-around;
    background-color: gray;
    color: white;
    align-items: center;
    /* مشان يضل الناف براس الصفحة قد ما نزلت لتحت */
    position: fixed;
    top: 0;
    /* مشان القائمة تنزل سطر بس نعمل تصغير للشاشة */
    flex-wrap: wrap;
    z-index: 5;
}
/* السطر 24و و20و25 و17و18  خاصة بالبوسيشين */
/* مشان ياخد العنوان الرئيسي عرض كامل وما ينزل سطر */
nav .logo{
    flex-shrink: 0;
   
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;

}
/* من اجل ازالة الخط وتغيير اللون اللي اصبح باللون الازرق */
nav ul a{
    text-decoration: none;
    color: white;
    /* فينا نكبر الخط وفينا ما نكبره */
    font-size: 20px;
}
/* يعني بكل الشاشت بدي الزر مخفي */
nav button {
    display: none;
}


/*  قسم الhero */
.hero{
    /*يعني ارتفاع كامل الشاشة ناقص ارتفاع الناف */
    height: 100vh;
    background-color:#1ABC9C ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    /* من اجل ان يصبح الكلام بالمنتصف عند تصغير الشاشة */
    text-align: center;
}
.hero .img{
    position: relative;
}
.hero .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: gray;

}
.hero .me{
    background: none;
    position:absolute;
    width: 119px;
    top: -13px;
    right: 35.5px
}
.hero h1{
    font-size: 20px;
}
.hero .icon::before{
    content: "-";
    display: block;
    width: 115px;
    
}



/* القسم الثالث */

#portfolio .portf{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    color: gray;
 
}

#portfolio .PORT{
    width: 700PX;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

#portfolio .PORT .card{
    width: 200px;
    height: 200px;
    border-radius: 5%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: coral;
    position: relative;
   
}
#portfolio .PORT .card img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 23px;
    bottom: 25px;
}

/* بداية القسم الرابع */
.about {
     width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    background-color:#1ABC9C ;
    color: white;
}
.ab{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color:#1ABC9C ;
    color: white;
    padding: 20px;
    flex-wrap: wrap;

}
.colom{
    max-width: 300px;
}
.colom1{
    max-width: 300px;
}
/* القسم الخامس */

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}
#CON form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.lab{
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
}
.lab p{
    color: grey;
}
.subm{
    background-color: rgb(40, 155, 22);
    color: white;
}
/* بداية القسم الاخير */

#last{
    background-color: grey;
}
#last .foot{
    display: flex;
    background-color:gray ;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}
.foot h1{
    color: white;}

.loc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}
.loc p{
    color: white;
}


.aroun{

margin-top:40px;
}
#last .aroun .lll{
    width: 20px;
    border-radius: 50%;
    padding-top: 15px;
}
.free{
    display: flex;
    justify-content: center;
    align-items: center;
      color: white;
      flex-direction: column;
}
.free P{
    max-width: 200PX;
}


footer{
    width: 100vw;
    background-color: black;
    padding: 10px;
    flex-wrap: wrap;
}

footer ul {
    color: white;
    padding: 10px;
    gap: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul a{
    color: white;
    text-decoration: none;
}


/* الا لما بكون العرض من 0 حتى 800 بيظهر الزر */
/* ولما بيظهر الزر اخفي القائمة */
@media screen  and (max-width: 728px) {
    nav button {
        display: block;
    }
    nav ul {
        display: none;

    }
    #portfolio .PORT{
        display: block;
    }

}